.imggrid {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 800px;

  img {
    padding: 20px 0;
    width: 49%;
  }
}

.bannerabout {
  @include for-phone-only {
    background: url('../images/about-m.jpg') 50% 50% / cover;
  }
  background: url('../images/about.jpg') 50% 50% / cover;
}
