.contact {
  @include for-phone-only {
    padding: 50px 20px;
  }

  background-color: $white;
  padding: 100px 20px;

  form {
    margin: 0 auto;
    max-width: 600px;

    .form-input,
    .form-select,
    .form-textarea,
    .form-input,
    .btn-outline {
      border-color: $brown;
      border-radius: 0;
      color: $brown;
    }

    .form-textarea {
      min-height: 165px;
    }

    .btn-outline {
      &:hover {
        background-color: $brown;
        color: $white;
      }
    }
  }
}

.bannercontact {
  @include for-phone-only {
    background: url('../images/contact-m.jpg') 50% 50% / cover;
  }
  background: url('../images/contact.jpg') 50% 50% / cover;

}
