html {
  background-color: $brown;
}

body {
  background-color: $white;
}

.textblock {
  @include for-phone-only {
    padding: 50px 20px;
  }

  background-color: $white;
  padding: 100px 20px;

  h2 {
    @include for-phone-only {
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 1px;
      line-height: 1.5;
    }

    color: $brown;
    margin: 0 auto;
    margin-bottom: 30px;
    max-width: 980px;
    text-align: center;

  }

  p {
    @include for-phone-only {
      font-size: 14px;
      font-weight: 400;
      text-align: start;
    }

    color: $brown;
    margin: 0 auto;
    max-width: 700px;
    text-align: justify;
  }
}

footer {
  @include for-phone-only {
    padding: 25px 20px;

    p {
      margin: 0;
    }
  }

  background-color: $brown;
  color: $white;
  font-size: 12px;
  font-weight: 300;
  padding: 50px;
  text-align: center;

  a {
    color: $white;
    font-weight: 300;
  }
}

.banner {
  @include for-phone-only {
    padding: 30px 20px;
  }

  background-color: $brown;
  padding: 60px 20px;
  position: relative;

  h3,
  p {
    color: $white;
    position: relative;
    text-align: center;
    z-index: 1;
  }

  h3 {
    @include for-phone-only {
      font-size: 30px;
      margin: 0;
    }

    font-size: 50px;
  }
}

.overlay {
  background: $brownlight;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.page {
  transition: transform .3s;
  z-index: 0;
}

.btn-menu {
  @include for-tablet-portrait-up {
    display: none;
  }

  border-color: $white;
  border-radius: 0;
  color: $white;
  margin: 0;
  padding: 0 10px;

  svg {
    height: 24px;
    transform: translateY(3px);
    transition: transform .3s;
    width: 24px;

    path {
      fill: $white;
    }
  }

  &:hover {
    background-color: $white;
    color: $brown;

    svg {
      path {
        fill: $brown;
      }
    }
  }

}

.sidebar {
  background-color: $white;
  bottom: 0;
  box-shadow: inset 2px 0 5px $shadow;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(180px);
  transition: transform .3s;
  width: 180px;
  z-index: 999;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    border-bottom: solid 1px $berdercoler;
    display: block;
    list-style: none;
    position: relative;
  }

  a {
    color: $brown;
    display: block;
    padding: 10px;
    text-decoration: none;
    text-indent: 14px;

    &:hover {
      background-color: $brown;
      color: $white;
    }
  }
}

.menutoggle {
  display: none;

  &:checked+.page-wrap {

    .sidebar {
      transform: translateX(0);
    }

    .page {
      transform: translateX(-180px);
    }
  }
}
