.hero {
  @include for-phone-only {
    background: url('../images/hero-m.jpg')50% 50% / cover fixed;
    height: 450px;
  }

  background: url('../images/hero.jpg')50% 50% / cover fixed;
  background-color: $brown;
  height: 600px;
  position: relative;
  width: 100%;

  .content {
    @include for-phone-only {
      height: 450px - 47px;
    }

    align-items: center;
    color: $white;
    display: flex;
    flex-direction: column;
    height: 600px - 60px;
    justify-content: center;
    position: relative;
    z-index: 1;
  }

  h1 {
    @include for-phone-only {
      font-size: 23px;
      font-weight: bold;
    }

    color: $white;
    font-size: 50px;
    text-transform: capitalize;
  }

  p {
    @include for-phone-only {
      font-size: 15px;
      padding: 0 20px;
    }

    max-width: 500px;
    text-align: center;

  }

  button {
    border-color: $white;
    border-radius: 0;
    color: $white;

    &:hover {
      background-color: $white;
      color: $grey1;
    }
  }
}

.menu {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  position: relative;
  z-index: 5;

  ul {
    @include for-phone-only {
      display: none;
    }

    margin: 0;
    padding: 0;
  }

  li {
    display: inline;
    list-style: none;
    margin: 0 20px;
  }

  a {
    color: $white;
    font-weight: 100;
  }

  button {
    margin: 0;
  }
}

.site-name {
  @include for-phone-only {
    font-size: 1rem;
  }

  color: $white;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.7;
  text-transform: uppercase;

}

.menu-bar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  position: relative;
  z-index: 999;
}
